{
  "extends": "@antfu",
  "rules": {
    "no-only-tests/no-only-tests": "off",
    // prefer global Buffer to not initialize the whole module
    "n/prefer-global/buffer": "off",
    "@typescript-eslint/no-invalid-this": "off",
    "import/no-named-as-default": "off",
    "unicorn/prefer-node-protocol": "off"
  },
  "overrides": [
    {
      "files": "{src, test}/**/*.*",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": ["path"]
          }
        ]
      }
    }
  ]
}
