
# NPM/PNPM
npm-debug.log*
*-lock.json

# YARN
yarn-debug.log*
yarn-error.log*

# Dot file
.log
.env
.cache
.idea
.vite-node
.DS_Store
.eslintcache
.nyc_output
.wireit
.pnpm-store

# Folder
dist
coverage
node_modules

# Fixtures
fixtures/output/*
!fixtures/output/.gitkeep

# Playwrite
/packages/**/test-results/
/packages/**/playwright-report/
/packages/**/playwright/.cache/

# third_party

# Tools
/tools/lib-cov

# docs
packages/**/docs
docs/.vitepress/dist
docs/.vitepress/cache
