
# NPM/PNPM
npm-debug.log*
*-lock.json

# YARN
yarn-debug.log*
yarn-error.log*

# Dot file
.log
.env
.cache
.idea
.vite-node
.DS_Store
.eslintcache
.nyc_output
.pnpm-store

# Folder
dist
coverage
node_modules
temp

# Fixtures
fixtures/output/*
!fixtures/output/.gitkeep

# Tools
/tools/lib-cov
