
# NPM/PNPM
npm-debug.log*
*-lock.json

# YARN
yarn-debug.log*
yarn-error.log*

# Dot file
.log
.env
.cache
.conf
.feature
.idea
.vite-node
.DS_Store
.eslintcache
.nyc_output
.pnpm-store
.turbo
tsconfig.tsbuildinfo

# Folder
**/dist/**
coverage
node_modules
temp
.config/*.toml
!.config/*.example.toml
